@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <div id="root"></div>
    @section Scripts{
        <script src="~/js/ReactWeb/dist/index.bundle.js"></script>
    }

</div>
